*{margin: 0; padding: 0;}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
.cabecalho{
    background-color:black;
    text-align: center;
   color: white;
}
a{
    color: white;
}
.menu{
    text-align: center;
    list-style: none;
    border: 1px solid #c0c0c0; 
}
.menu li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}
.menu li a{
    color: #333; 
    text-decoration:none; 
    padding: 5px 10px; 
    display: block;
}
.menu li a:hover{
    background: black;
    color: #fff;
    -moz-box-shadow:0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}
.rodape li{
    background-color: black;
    color: white;
}

#saopaulo a{
    color: black;
}

